<!DOCTYPE html>
<html lang="en">
<head>
    {# Open source project located in  https://github.com/juliomatcom  - http://jcmartin.info/ #}
    <meta charset="utf-8">
    <title>{% block title %}Charisma Symfony PHP {% endblock %} - Your website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">

    <!-- The styles -->
    {% block stylesheets_header %}
    <link id="bs-css" href="{{ asset('/bundles/app/css/bootstrap-cerulean.min.css') }}" rel="stylesheet">

        <link href="{{ asset('/bundles/app/css/charisma-app.css')}}" rel="stylesheet">

        <link href="{{ asset('/bundles/app/bower_components/fullcalendar/dist/fullcalendar.css') }}" rel='stylesheet'>
        <link href="{{ asset('/bundles/app/bower_components/fullcalendar/dist/fullcalendar.print.css') }}" rel='stylesheet' media='print'>
        <link href="{{ asset('/bundles/app/bower_components/chosen/chosen.min.css') }}" rel='stylesheet'>
        <link href="{{ asset('/bundles/app/bower_components/colorbox/example3/colorbox.css') }}" rel='stylesheet'>
        <link href="{{ asset('/bundles/app/bower_components/responsive-tables/responsive-tables.css') }}" rel='stylesheet'>
        <link href="{{ asset('/bundles/app/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css') }}" rel='stylesheet'>

        <link href="{{ asset('/bundles/app/css/jquery.noty.css') }}" rel='stylesheet'>
        <link href="{{ asset('/bundles/app/css/noty_theme_default.css') }}" rel='stylesheet'>
        <link href="{{ asset('/bundles/app/css/elfinder.min.css') }}" rel='stylesheet'>
        <link href="{{ asset('/bundles/app/css/elfinder.theme.css') }}" rel='stylesheet'>
        <link href="{{ asset('/bundles/app/css/jquery.iphone.toggle.css') }}" rel='stylesheet'>
        <link href="{{ asset('/bundles/app/css/uploadify.css') }}" rel='stylesheet'>
        <link href="{{ asset('/bundles/app/css/animate.min.css') }}" rel='stylesheet'>
    {% endblock stylesheets_header%}

    {% block javascripts_header %}
            <!-- jQuery -->
            <script src="{{ asset('/bundles/app/bower_components/jquery/jquery.min.js') }}"></script>
        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    {% endblock javascripts_header %}

    <!-- The fav icon -->
    <link rel="shortcut icon" href="{{ asset('/bundles/app/img/favicon.ico') }}">

</head>

<body>
<!-- topbar starts -->
<div class="navbar navbar-default" role="navigation">

    <div class="navbar-inner">
        <button type="button" class="navbar-toggle pull-left animated flip">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"> <img alt="Charisma Logo" src="{{ asset('/bundles/app/img/logo20.png') }}" class="hidden-xs"/>
            <span>Charisma</span></a>

        <!-- user dropdown starts -->
        <div class="btn-group pull-right">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> admin</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li class="divider"></li>
                <li><a href="login.html">Logout</a></li>
            </ul>
        </div>
        <!-- user dropdown ends -->

        <!-- theme selector starts -->
        {#see the file src/AppBundle/Resources/Public/js/charisma.js for more info on THIS  - juliomatcom #}
        <div class="btn-group pull-right theme-container animated tada">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-tint"></i><span
                        class="hidden-sm hidden-xs"> Change Theme / Skin</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="themes">
                <li><a data-value="classic" href="#"><i class="whitespace"></i> Classic</a></li>
                <li><a data-value="cerulean" href="#"><i class="whitespace"></i> Cerulean</a></li>
                <li><a data-value="cyborg" href="#"><i class="whitespace"></i> Cyborg</a></li>
                <li><a data-value="simplex" href="#"><i class="whitespace"></i> Simplex</a></li>
                <li><a data-value="darkly" href="#"><i class="whitespace"></i> Darkly</a></li>
                <li><a data-value="lumen" href="#"><i class="whitespace"></i> Lumen</a></li>
                <li><a data-value="slate" href="#"><i class="whitespace"></i> Slate</a></li>
                <li><a data-value="spacelab" href="#"><i class="whitespace"></i> Spacelab</a></li>
                <li><a data-value="united" href="#"><i class="whitespace"></i> United</a></li>
            </ul>
        </div>
        <!-- theme selector ends -->

        <ul class="collapse navbar-collapse nav navbar-nav top-menu">
            <li><a href="#"><i class="glyphicon glyphicon-globe"></i> Visit Site</a></li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-star"></i> Dropdown <span
                            class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
            <li>
                <form class="navbar-search pull-left">
                    <input placeholder="Search" class="search-query form-control col-md-10" name="query"
                           type="text">
                </form>
            </li>
        </ul>

    </div>
</div>
<!-- topbar ends -->
<div class="ch-container">
<div class="row">

{% block left_menu %}
    {% include 'AppBundle:Includes:left_menu.html.twig' %}
{% endblock %}

{% block noscript %}
    <noscript>
        <div class="alert alert-block col-md-12">
            <h4 class="alert-heading">Warning!</h4>

            <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                enabled to use this site.</p>
        </div>
    </noscript>
{% endblock %}

<div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->
    <div>
        {% block breadcrumb %}
            <ul class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
            </ul>
        {% endblock %}
    </div>
        {%block big_boxes %}
            {% include 'AppBundle:Includes:home_boxes.html.twig' %}
        {% endblock %}

    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well">
                    <h2><i class="{%block windows_icon %}glyphicon glyphicon-info-sign{% endblock %}"></i>{% block windows_title %} Introduction to Charisma for Symfony {% endblock %}</h2>

                    {% block windows_box_icon  %}
                        <div class="box-icon">
                            <a href="#" class="btn btn-setting btn-round btn-default"><i
                                        class="glyphicon glyphicon-cog"></i></a>
                            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                        class="glyphicon glyphicon-chevron-up"></i></a>
                            <a href="#" class="btn btn-close btn-round btn-default"><i
                                        class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    {% endblock %}
                </div>
                <div class="box-content row">
                    <div class="col-lg-7 col-md-12">
                        {% block main_content %}
                            {# this is the main windows for display content #}

                        {% endblock %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <hr>

        {% block modal %}
            {% include 'AppBundle:Includes:modal.html.twig' %}
        {% endblock %}

    <footer class="row">
        {%block footer_content %}
            {% include 'AppBundle:Includes:footer.html.twig' %}
        {% endblock %}
    </footer>

</div><!--/.fluid-container-->

<!-- external javascript -->
{% block javascripts_footer %}
    <!-- library for cookie management -->
    <script src="{{ asset('/bundles/app/js/jquery.cookie.js') }}"></script>
    <!-- data table plugin -->
    <script src="{{ asset('/bundles/app/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('/bundles/app/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <!-- calender plugin -->
    <script src="{{ asset('/bundles/app/bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('/bundles/app/bower_components/fullcalendar/dist/fullcalendar.min.js') }}"></script>

    <!-- select or dropdown enhancer -->
    <script src="{{ asset('/bundles/app/bower_components/chosen/chosen.jquery.min.js') }}"></script>
    <!-- plugin for gallery image view -->
    <script src="{{ asset('/bundles/app/bower_components/colorbox/jquery.colorbox-min.js') }}"></script>

    <!-- notification plugin -->
    <script src="{{ asset('/bundles/app/js/jquery.noty.js') }}"></script>
    <!-- library for making tables responsive -->
    <script src="{{ asset('/bundles/app/bower_components/responsive-tables/responsive-tables.js') }}"></script>
    <!-- tour plugin -->
    <script src="{{ asset('/bundles/app/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js') }}"></script>

        <!-- star rating plugin -->
    <script src="{{ asset('/bundles/app/js/jquery.raty.min.js') }}"></script>
    <!-- for iOS style toggle switch -->
    <script src="{{ asset('/bundles/app/js/jquery.iphone.toggle.js') }}"></script>
    <!-- autogrowing textarea plugin -->
    <script src="{{ asset('/bundles/app/js/jquery.autogrow-textarea.js') }}"></script>
    <!-- multiple file upload plugin -->
    <script src="{{ asset('/bundles/app/js/jquery.uploadify-3.1.min.js') }}"></script>
    <!-- history.js for cross-browser state change on ajax -->
    <script src="{{ asset('/bundles/app/js/jquery.history.js') }}"></script>
    <!-- application script for Charisma demo -->
    <script src="{{ asset('/bundles/app/js/charisma.js') }}"></script>

{% endblock %}
</body>
</html>
